.card-movies {
    height: 300px;
    position: relative;
    margin: 2px;
  
    &:hover {
        transform: scale(1.5);
        z-index: 1;
    }

    img{
        height: 300px;
        width: 200px;
        object-fit: cover;
    }

    
}