.logo{
    .image{
        width: 50px;
        height: 10px;
       img{
        padding: 20px;
       }
    }
    .button-logOut{
        margin-left: 1200px;
        position: relative;
    
    }
    .navigation-logo{
        margin-left: 500px;
        height: 5px;
        position: absolute;
    }
    text-align: center;
    width: 1300px;
    background-color: darkslategray;
    height: 100px;
}